body {
    background-color: #ebe9e9;
    font-family: sans-serif;
}
.staffContent {
    position: relative;
    width: 100%;
}
.staffContent_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.table_wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table_container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
thead {
    background-color: #A82222;
    color: #fff;
}
th {
    padding: 15px;
}
tbody {
    background: #f2f2f2;
}
td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}
tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td {
    padding: 15px;
}